.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.input {
  background: none;
  border: 0;
  border-bottom: 1px;
  border-color: #5f79a7;
  border-style: solid;
  color: #fff;
}

.send_button {
  align-self: flex-end;
  margin-top: 10px;
  border: none;
  padding: 10px 40px;
  box-sizing: border-box;
  background: #6d99e4;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.chat_list {
  display: flex;
  width: 90%;
  flex-direction: column;
  box-sizing: border-box;
}

.chat_baloon {
  list-style: none;
  background: #6c9ae4;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.chat_baloon_client {
  composes: chat_baloon;
  background: #2262ca;
}

.chat_from {
  display: block;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.chat_content {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
}
